*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.front{
    display: flex;
    justify-content: flex-end;
    background-color: whitesmoke ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
} 
 a{
    width: 100px;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    color: black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
} 
/* First Layout */
#parent{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background: rgb(12, 59, 46);
    font-family: 'RocknRoll One', sans-serif;
    font-size: 35px;
 
}
.left {
    position: relative;
    top: 90px;
    left: 70px;
    color: aliceblue;
    font-size: 30px;

}
.right img{
    height: 100%;
}
.left h2{
    font-size: 20px;
    padding-top: 30px;
    font-weight: 500;
}
.left h1{

    padding-top: 2%;

}
.left p{
    font-size: 15px;
    padding-top: 21%;
}
.click{
    margin-top: 65px;
    padding: 10px;
    border-radius: 20px;
    width: 65%;
    background-color: rgb(255, 186, 0);
    font-family: 'Poppins', sans-serif;
    border-color: none;
    font-weight: 800;

}
/* second layout */
#parent2{
    background-color: rgb(255, 186, 0);
    height: 100vh;
    width: 100%;
}
.flexcon{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.head2{
    padding-top: 50px;
    font-family:'RocknRoll One', sans-serif;
    text-align: center;
    font-size: 45px;
}
.child img{
    margin-top: 35px;
}
.text{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.text h3{
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10%;
}
.text h4{
    font-size: 20px;
    font-weight: 900;
    padding-top: 30px;
}
.text p{
    font-weight: 600;
}
@media(max-width:1210px){
    #parent2{
        height: auto;
    }
    .flexcon{
        flex-direction: column;
        align-items: center;
    }

}
/* third layout */
.parent3{
    background-color: rgb(109, 151, 115);
    display: flex;
    color: white;
    width: 100%;
    height: 100vh;
    
}
.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.parent3 img{
    height: 100vh;
    width: 100%;
}
.right3{
    display: flex;
    flex-direction: column;
}
.right3 h1{
    position: absolute;
    line-height: 40px;
    font-size: 66.6px;
    margin: 7% 5% 5% 5%;
    font-family:'RocknRoll One', sans-serif;
}
.right3 p{
    margin: 25% 5% 30%;
    line-height: 45px;
    position: absolute;
    font-size: 30px;
    
}
/* fouth layout */
.flex_fouth{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fouth{ 
    background: rgb(12, 59, 46);
    font-family: 'RocknRoll One', sans-serif;
    font-size: 35px;
    height: 100vh;
    width: 100%;
}
.fouth_left {
    position: relative;
    top: 90px;
    left: 70px;
    color: white;
    font-size: 30px;
    padding-left: 25px;
}
.fouth_right img{
    height: 100vh;
    width: 100%;
    
}
.fouth_left h2{
    font-size: 20px;
    padding-top: 30px;
    font-weight: 500;
}
.fouth_left h1{
padding-bottom: 15%;
}
.fouth_left p{
    font-size: 20px;
    padding-top: 18%;
    font-weight: 500;
    
}
.click{
    margin-top: 65px;
    padding: 10px;
    border-radius: 20px;
    width: 65%;
    background-color: rgb(255, 186, 0);
    font-family: 'Poppins', sans-serif;
    border-color: none;
    font-weight: 800;
}


/* fifth layout */
.fifth{
    width: 100%;
    height: 100vh;
    background-color: rgb(109, 151, 115);
}
.flexfifth{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fifthhead{
    color:white;
    font-size: 29px;
    font-family:'RocknRoll One', sans-serif ;
    margin-top: 70px;
  
}
.fifthsub{
    font-size: 23px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 4%;
    margin-right:10%;
}
.fifthimage{
    margin-top: 35px;
}